@charset "utf-8";


a{
    color: inherit;
    text-decoration: none;
}



/*ヘッダーパート*/
header{
    width: 100%;
    max-width: 1200px;
    background: #fffacd;
    margin: 0 auto;
    position: relative;
    padding: 0 16px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

header a{
    text-decoration: none;
    color: inherit;
}
.logo{
    width: 115px;
    height: auto;
    padding: 15px;
}
.logo-link{display: block;}

.header-title{
    margin-right: auto;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 28px;
    color: #1e90ff;
    margin: 0;
}

.hamburger {
    padding: 8px;
    width: auto;
    flex-shrink: 0;
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: dodgerblue;
    margin: 5px 0;
}


/*スマホ展開用*/
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav {
      display: none;
  }

  .nav.is-open {
    display: block;
  }

  .global-nav {
    display: flex;
    flex-direction: column;
  }
}

.hamburger.is-open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.is-open span:nth-child(2) {
  opacity: 0;
}
.hamburger.is-open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}


/*通常時*/
.nav{
    margin-left: auto;
}

.global-nav{
    display: flex;
    margin: 0;
    padding: 0;
}
.global-nav li{
    margin: 0 14px;
    font-size: 18px;
    list-style: none;
}

body {
  font-family: sans-serif;
  background: #f7f7f7;
    padding: 20px;
}

.mv-list{
    margin-top: 20px;
}


.mv-card {
  display: flex;
  gap: 15px;

  background: #fffacd;
  padding: 15px;
  border-radius: 8px;

  margin-bottom: 20px;
    
    cursor: pointer;
    transition: 0.2s;
}
.mv-card:hover{
    background: #ffffe0;
    transform: translateY(-2px);
}

.mv-cover{
    position: absolute;
  inset: 0;
  z-index: 1;
}

.mv-links a {
  position: relative;
  z-index: 2;
}


/* サムネ */
.mv-thumb img {
  width: 180px;
  border-radius: 6px;
}

/* 右側 */
.mv-info {
  flex: 1;
}

/* リンク集 */
.mv-links {
  margin-top: 10px;
}

.mv-links a {
  display: inline-block;
  margin-right: 10px;

  padding: 5px 10px;
  background: #daa520;

  border-radius: 4px;
  text-decoration: none;
  color: #fff;

  font-size: 14px;
    z-index: 2;
}

.mv-links a:hover {
  background: #f0e68c;
}


/*フッター*/
footer {
    display: flex;
  text-align: center;
  padding: 20px;
  font-size: 14px;
    background-color: #fffacd;
}

footer a {
  color: #555;
  text-decoration: none;
  margin: 0 10px;
}

.email_icon{
    width: 50px;
    height: auto;   
}

.twitter_icon{
    width: 50px;
    height: auto;
}

footer a:hover {
  text-decoration: underline;
}